/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.feedback-wrapper {
  text-align: center;
  padding-top: 130px;
}

.feedback-wrapper h1,
.feedback-wrapper h2,
.feedback-wrapper h3 {
  margin: 0;
}

.feedback-wrapper h3 {
  margin-bottom: 40px;
}

.feedback-wrapper h1 {
  font-size: 40px;
  color: #0064d2;
  font-weight: 200;
  margin-bottom: 30px;
}

.feedback-wrapper h2 {
  color: #808080;
  font-size: 26px;
  line-height:35px;
  font-weight: 200;
}

.response-wrapper {

}

.response-wrapper .input-group {
  margin-bottom: 1em;
}

.response-wrapper label {
  text-align: left;
  margin-bottom: 0;

  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  
  display: block;

  min-height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.response-wrapper label, 
.feedback-wrapper p {
  font-size: 14px;
}

.feedback-wrapper p {
  margin: 1.5em 0;
}

.response-wrapper .input-group-addon,
.response-wrapper .input-group > .form-control,
.response-wrapper .input-group > label {
  border: 0px;
  background-color: transparent;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.response-wrapper .input-group-addon {
  vertical-align: top;
}

.response-wrapper .input-group > label {
  padding-top: 0px;
}

.subtable-wrapper, .subtable-wrapper td {
  padding: 0 !important;
}

.subtable-wrapper table {
  margin: 0 !important;
}

.yes, .no, .blue, .comment-id {
  background-color: #0064d2;
  color: white !important;
  border-color: white;
}

a {
  color: #0064d2;
}

.yes, .no {
  text-align: center;
}

.yes {
  border-right-width: 1px;
  border-right-style: solid;
}

.no {
  border-left-width: 1px;
  border-left-style: solid;
}

.response-type {
  text-align: center;

}

.table-main > tbody > tr > td {
  color: #0064d2;
  font-size: 13px;
  border-top: 0px;
  border-bottom: 1px solid #d6d6d6;
}

.table-main > tbody > tr > td,
.table-main > thead > th > td {
  
}

#table-main > thead > tr > th {
  border-top: 1px solid #d6d6d6;
}

#table-main > thead > tr > th,
#table-main > tbody > tr > td {
  border-top-width: 1px !important;
  border-color: #d6d6d6;
  border-top-style: solid;
  color: #808080;
  font-size: 15px;
  font-weight: 300;
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #d6d6d6;
}

#table-main tr.white  {
  background-color: white !important;
}

#table-main tr.gray  {
  background-color: #efefef !important;
}

td.email a{
  color: #808080;
}

.comments {
  text-align: center;
}

.comment-id div {
  min-height: 73px;
  line-height: 73px;
  text-align: center;
}

.comment-text p {
  color: #808080;
  font-size: 13px;
  padding: 15px;
}

.comments-table td {
  border-top: 0px !important;
}

.table-main {
  margin-top: 20px;
}

.comments a {
  text-decoration: none;
}

a.collapsed .open {
  display: none;
}

a .open {
  display: inline;
}

a .closed {
  display: none;
}

a.collapsed .closed {
  display: inline;
}


h2 {
  margin: 0; margin-top: 30px; text-align: center;
}

h1 {
  color: #0064d2;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  margin: 15px 0 30px;
}